@model IEnumerable<RmR.Models.Resume>

@{
    ViewBag.Title = "Available Work";
}

<h2>Available Work</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Client.FullName, "Details", new { id = item.ResumeID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @switch ((int)item.Status)
                {
                    case (0):
                    @Html.ActionLink("View Details", "Details", new { id = item.ResumeID }, new { @class = "btn btn-primary" })
                    break;
                case (1):
                    @Html.ActionLink("On Review", "Details", new { id = item.ResumeID }, new { @class = "btn btn-warning disabled" })
                    break;
                case (2):
                    @Html.ActionLink("Completed", "Edit", new { id = item.ResumeID }, new { @class = "btn btn-default disabled" })
                    break;
                default:
                    break;
            }
        </td>


    </tr>
}

</table>
