@if (Request.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        <li>@Html.ActionLink("Resumes", "Index", "Resume")</li>
        <li>@Html.ActionLink("Users","Index","User")</li>
    }
    else if (User.IsInRole("client"))
    {
        <li>@Html.ActionLink("Your Resumes", "Index", "ClientResume")</li>
    }
    else if (User.IsInRole("expert"))
    {
        <li>@Html.ActionLink("Current work", "Index", "ExpertResume")</li>
        <li>@Html.ActionLink("Available work", "Work", "ExpertResume")</li>
    }
}
