<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"03c91410-af75-4f96-b0e9-c8d754c023f7"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @* navbar-inverse *@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*<a href="@Html.Action("Index", "Home", new { area = "" })">
                        <img src="~/img/rmr.png" border="0" alt="Logo"  style="position:static" />
                    </a>*@

                @*<a href="@Url.Action("Index", "Home")"><img src="~/img/rmr.png" id="fpLogo"/></a>*@

                @*<div class="thumbnail">
                        <img src="~/DeptPics/@(item.DepartmentID).png" alt="@item.Name" />
                        <div class="caption">
                            <a href="@Url.Action(action,"Course", new { SelectedDepartment = item.DepartmentID })"><h4>@item.Name</h4></a>
                        </div>
                    </div>*@

                @Html.ActionLink("Rate my Resume", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"@*, @style="margin-left:200px"*@})
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_AdminPartial")
                    <li>@Html.ActionLink("Quick Tools", "Quicktools", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="BodyContainer">
        @RenderBody()
        <hr />
        <footer @*style="position: absolute; bottom: 0; padding-top: 3rem; padding-bottom: 1rem"*@>
            <p>&copy; @DateTime.Now.Year - Rate my Resume</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
